html{
font-family: Tahoma, Geneva, sans-serif;
font-size:16px
}

main{
width:1090px;
min-height:780px;
border-radius:10px;
margin:0  auto;
background-color:#FFF7EE;
}

body{
background:#A2B5BF;
height:100%;
background-repeat:no-repeat;
overflow:auto;
}

.title{
font-weight:bolder;
font-size:50px;
font-family:cursive;
color:#223645;
text-align:center;
margin-top:15px;
}

nav{
background-color:#223645;
position:relative;
min-width:990px;
height:75px;
padding:0;
margin:0;
}


nav li{
float:left;
list-style:none;
margin-left:80px;
}

nav li a{
color:white;
font-size:20px;
font-weight:bolder;
font-family:cursive;
text-decoration:none;
display:block;
padding:10px;
text-align:center;
}


nav li a:hover{
color:grey;
}

.welcome{
margin-left:30px;
font-size:30px;
font-weight:bolder;
font-family:"MS Serif", "New York", serif;
}

section{
margin:0 100px 0 100px;
}